<div class="container">
  <mgx-loading-and-error [loadingErrorConfig]="itemsConfig">
    <ng-container *ngIf="itemsConfig.data$ | async as items">
      <mgx-multi-select-menu
        [items]="items"
        caption="Standards"
        [showSelectAll]="isTrue"
        [isGrouped]="isTrue"
        (filterChange)="filterChange($event)"
      >
        <ng-template #optionTemplate let-item>
          <div fxLayout="row" fxFlexAlign="start end" class="u-width-100">
            {{ item.name }}
          </div>
        </ng-template>
      </mgx-multi-select-menu>
    </ng-container>
  </mgx-loading-and-error>
</div>
